.text-about {
  font-family: Sohne Breit Dreiviertelfett;
  font-size: 6.7vw;
  line-height: 1;
  color: black;
}

.icons-about {
  height: 4.5rem;
  margin: 0 8px;
  display: inline-block;
  vertical-align: baseline;
}
.icon-arrow {
  height: 3.8rem;
  margin: 0 8px;
  display: inline-block;
  vertical-align: baseline;
}


.line-about {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
