.cover-project-container {
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cover-item {
  width: 92%;
  height: auto;
}

.project-video,
.cover-project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  aspect-ratio: 16 / 9;
}
