.text-about {
  font-family: "Sohne Breit Dreiviertelfett";
  font-size: 7.5vw;
  line-height: 1;
  color: black;
  text-transform: uppercase;
}

.icon-intro-text {
  height: 5rem;
  margin: 0 8px;
  display: inline-block;
  vertical-align: baseline;
}
.mars-icon {
  height: 5rem;
  margin: 0 20px;
  display: inline-block;
  vertical-align: baseline;
}

.line-about {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
