.navbar{
  width: 98%;
  min-width:98%;
  height: 3.8rem;
  margin: 1.5rem auto 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 45px;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 0.5rem 2rem;
}

