.project-page {
  width: 98%;
  margin: 1rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  width: 100%;
}

.project-name {
  text-transform: uppercase;
  /* white-space: nowrap; */
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.intro-sections-wrapper {
  width: 95%;
  margin: 0 auto 2rem auto;
  display: flex;
}

.right-section,
.left-section {
  width: 50%;
}

.project-info-text {
  width: 90%;
}

.paragraph-text {
  margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.tags-container,
.project-info-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.type-tag,
.project-info-title,
.demo-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1.5rem 1rem 0;
  padding: 0.2rem;

  border-radius: 1.5rem;

  white-space: nowrap;
  text-align: center;
  width: 16vw;
}

.type-tag,
.project-info-title,
.demo-tag {
  border: 2px solid black;
  box-shadow: -3px 4px 0px black;
}
.demo-tag {
  color: #fffff4;
  background-color: black;
  border: 2px solid black;
  box-shadow: -3px 4px 0px black;
}
.details-wrapper {
  margin-top: 0.5rem;
  width: 80%;
  margin-left: 1rem;
  justify-content: flex-start;
}

.details {
  width: 70%;
}

.navigation-buttons {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav-button {
  padding: 0.2rem 1.5rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: -3px 4px 0px black;
}

.video-wrapper {
  margin: 2rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 80%;
}
.video-wrapper-70w {
  margin: 2rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 70%;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.video-wrapper-portrait {
  margin: 4rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 24%;
  object-fit: cover;
}

.cover-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.photo-wrapper-80 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 80%;
}
.img-project {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.photo-section-wrapper {
  display: flex;

  justify-content: center;
  align-items: center; /* Center images horizontally */
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
}

.img-project-half {
  object-fit: cover;
  width: 50%; /* Adjust width as needed */
  height: auto;
  margin-bottom: 1rem; /* Space between images */
}
