.project-page {
  margin: 1rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .details-wrapper {
  margin-top: 0.5rem;
  width: 80%;
  margin-left: 1rem;
  justify-content: flex-start;
}

.details {
  width: 70%;
} */

.navigation-buttons {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav-button {
  padding: 0.2rem 1.5rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: -3px 4px 0px black;
}
.cover-video-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  height: auto;
  max-width: 92vw;
}
.video-wrapper {
  margin: 2rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 80%;
}

.video-wrapper-70w {
  margin: 2rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 70%;
}

.project-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}
.video-wrapper-portrait {
  margin: 4rem auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 24%;
  object-fit: cover;
}

.cover-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.photo-wrapper-80 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 80%;
}
.img-project {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.photo-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
}

.img-project-half {
  object-fit: cover;
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}
