/* ------------- Project Header ------------- */

.header-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
  flex-grow: 1;
}

.project-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem;
  border-bottom: solid black 1.5px;
}

.project-title {
  margin: auto;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  font-size: 12vw;
  line-height: 0.85;
}

/* ------------- Tags Section ------------- */

.tags-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.type-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1.5rem;
  white-space: nowrap;
  text-align: center;
  width: 17.5vw;
  border: 1.5px solid black;
  box-shadow: -3px 4px 0px black;
}

/* ------------- Details Section ------------- */

.details-wrapper {
  width: 100%;
  display: flex;
  border-bottom: 1.5px solid black;
}

.details-left {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.details-right {
  width: 40%;
  border-left: solid black 1.5px;
  position: relative;
}

.project-info-title {
  border-bottom: 1.5px solid black;
  padding: 0.5rem 1rem;
}

.description-text {
  width: 98%;
  padding: 0.5rem 1rem 1rem 1rem;
}

/* ------------- Accordion Section ------------- */

.accordion {
  width: 100%;
  background: linear-gradient(0deg, #fbfbf6 5%, #fa97d8 99%, #fb84c7);
}

.accordion-row {
  padding: 0.5rem 1rem;
  border-bottom: 1.5px solid black;
}

.accordion-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-title,
.project-info-title {
  font-family: "Sohne Breit halbfett";
  font-size: 1.3rem;
  text-transform: uppercase;
}

.accordion-text {
  padding: 0.5rem 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 100%;
}

/* ------------- Key Animation Fix for Icon Rotation ------------- */

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

/* Ensure this rule has higher priority and is not overridden */
.icon-wrapper.open {
  transform: rotate(180deg);
}

.react-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

/* ------------- Demo Link Section ------------- */

.demo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.demo-link:hover {
  color: #007bff;
  transform: translateX(3px);
}

.demo-arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.demo-link:hover .demo-arrow {
  transform: translateX(3px);
}
