.section {
  width: 100%;
  height: auto;
  display: flex;
  place-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  overflow: hidden;
}

.minimalist-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
