.header-category {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-frame-links {
  min-height: 87vh;
  width: 100%;
  padding: 0.6rem;
}

.title-project {
  font-family: "Sohne Breit Dreiviertelfett";
  font-size: 7.5vw;
  line-height: 1;
  color: black;
}

.line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.line li {
  display: block;
}

.line li a {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.line li a span {
  display: inline-block;
}

.line li a img {
  display: inline-block;
  vertical-align: middle;
}

#line-1 .hot_sticker {
  height: 6.5vw;
  margin: 0 10px;
}
.spiral-icon {
  height: 3.4vw;
  margin-right: 10px;
}
.love-message {
  height: 5.2vw;
  margin: 0 10px;
}

.icon {
  height: 5.2vw;
  margin: 0 10px;
}

.icon-start {
  height: 5vw;
  margin-right: 8px;
}
.icon-letter {
  height: 6vw;
  margin: 0;
}
.thumbnail {
  height: 6.2vw;
  margin: 0 15px;
}
#line-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#line-1 li a {
  display: inline-flex;
  align-items: baseline;
}
