@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Sohne Breit Dreiviertelfett";
  font-style: sans-serif;
  font-weight: bold;
  src: url("../src/assets/SohneBreit-Dreiviertelfett.otf");
}
@font-face {
  font-family: "Sohne Breit halbfett";
  font-style: sans-serif;
  font-weight: bold;
  src: url("../src/assets/TestSohneBreit-Halbfett-BF663d89cacf645.otf");
}
@font-face {
  font-family: "Sohne Breit Leicht";
  font-style: sans-serif;
  font-weight: 200;
  src: url("../src/assets/SohneBreit-Leicht.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fbfbf6;
  cursor: url("/cursor-default.svg"), default;
}

a[href^="http"],
a[href^="https"],
.clickable {
  cursor: url("/cursor-pointer.svg"), pointer;
}

a,
link,
button,
input[type="submit"],
input[type="button"],
.clickable {
  cursor: url("/cursor-pointer.svg"), pointer;
}

div.clickable {
  cursor: url("/cursor-pointer.svg"), pointer !important;
}

.app {
  flex-grow: 1;
  padding-top: 3rem;
  width: 100%;
  margin: auto;
  position: relative;

  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

p {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4;
}

h1 {
  font-family: "Sohne Breit Dreiviertelfett";
  font-size: 7.5vw;
  line-height: 0.9;
  color: black;
}

h2 {
  font-family: "Sohne Breit halbfett";
}

h3,
a {
  font-family: "Sohne Breit Leicht";
  font-size: 1.2rem;
  line-height: 1.1;
}
html {
  font-size: 100%;
  scroll-padding-top: calc(4rem + 2.5rem);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow-float {
  0% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  }
  100% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
}

/* Extra large screens, TV (1201px and more) */

@media (min-width: 1401px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  html {
    font-size: 100%;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 95%;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 95%;
  }
}

/* iPads, Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Mobile devices (320px - 480px) */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  body {
    padding-top: 1rem;
  }
}
