.header {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-frame {
  width: 100%;
  padding: 0.6rem;
}

.title-category {
  font-family: Sohne Breit Dreiviertelfett;
  font-size: 6.7vw;
  line-height: 1;
  color: black;
}

.line-header {
  width: 100%;
  border-bottom: solid black 1.3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.line-header li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 60%;
  padding: 0;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.line-header li a {
  display: flex;
  align-items: center;
  text-align: left;
}
