.header {
  width: 98%;
  height: 80vh;
  margin: 1rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-frame {
  position: relative;
  width: 100%;
  padding: 1rem;
  height: auto;
  z-index: 100;
  perspective: 1000px;
}

.title-project {
  font-family: Sohne Breit;
  font-size: 4.3rem;
  line-height: 1.1;
  vertical-align: baseline;
}

.line {
  text-align: center;
}

.line li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.line li img {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 10px;
}

#line-1 .hot_sticker {
  height: 5rem;
  margin: 0 2px 0 5px;
  animation: float 4s ease-in-out infinite;
  transform-style: preserve-3d;
}
.spiral-icon {
  height: 2.5rem;
}
.love-message {
  height: 4.5rem;
  position: relative;
  top: -0.2rem;
  animation: float 4s ease-in-out infinite;
  transform-style: preserve-3d;
}

.icon {
  height: 3.5rem;
  animation: float 4s ease-in-out infinite;
  transform-style: preserve-3d;
}

.thumbnail {
  height: 4rem;
}
#line-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#line-1 li a {
  display: inline-flex;
  align-items: baseline;
}

/* @keyframes float {
  0% {
    transform: translateY(0) rotateX(0) rotateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) rotateX(10deg) rotateY(10deg) scale(1.05);
  }
  100% {
    transform: translateY(0) rotateX(0) rotateY(0) scale(1);
  }
} */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
